<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Proxy Provider-->
    <add key="ChineseProxyProvider" value="wkNOoC2ys+plAVLd/ya2mMAStMo4FETV"/>
    <add key="ForeignProxyProvider" value="wkNOoC2ys+plAVLd/ya2mMoIj+wAxM/3M/nU1HP8NpSIycvwRIOSDw=="/>

    <!--Proxy storage -->
    <add key="UserName" value="eN4paruInJOP58pwX6h/aA=="/>
    <add key="Password" value="W777zT23/es="/>
    <add key="Subject" value="Proxies List"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
